/* universal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    background-image: linear-gradient(#888C80, #234059, #0D2340, #081826);
    font-family: "Changa One", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-size: 28px;
}


body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

a, a:visited{
    text-decoration: none;
    color: #ffffff;
} 


/* index page */
/* feather animations */
#feather{
    display: inline-block;
    animation: feather 3s forwards;
    animation-delay: 2s;
    color: antiquewhite;
}

@keyframes feather{
    0%{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    75%{
        opacity: 1;
        transform: translate(300px, -300px);
    }
}


/* #birds{
    animation: fadeIn 3s forwards;
} */


#fadeIn{
    display: inline-block;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn{
    0%{
        margin-left: -1200px;
    }
    100%{
        margin-left: 0px;
    }
}


/* stick together animations*/
@keyframes stickFirst {
    0% {
        opacity: 0;
        transform: translateX(-200px); 
    }
    25% {
        opacity: 0;
        transform: translateX(-150px); 
    }
    50% {
        opacity: 0;
        transform: translateX(-50); 
        color: lightblue;
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
}

@keyframes togetherSecond {
    0% {
        opacity: 0;
        transform: translateX(150px); 
    }
    25% {
        opacity: 0;
        transform: translateX(50px); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
}

#stickFirst {
    display: inline-block; 
    animation: stickFirst 3s forwards ease-in-out;
}

#togetherSecond {
    display: inline-block; 
    animation: togetherSecond 3s forwards ease-in-out;
}


/* line 3 animations */

#rotateDie{
    animation: rotateDie 1s forwards;
    animation-delay: 3s;
}

@keyframes rotateDie { 
    0%{
        transform: rotate(0deg);
    }
    100% { 
        transform: rotate(360deg); 
        color: gray; 
    } 
}


/* line 4 & 5 animations */
#alone{
    display: inline-block;
    animation: alone 2s forwards;
    animation-delay: 2s;
}

@keyframes alone{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(200px);
    }
}

#glow {
    animation: glow 1s forwards infinite;
    animation-delay: 2s;
    display: inline-block;
}
    
      
@keyframes glow {
    0%{
        color: #ffffff;
        text-shadow: none;
    }
    100%{
        color: #ffffff;
        text-shadow: 0 0 50px yellow;
        }
}

#eyesOne{
    display: inline-block;
    animation: eyesOne 4s forwards;
    animation-delay: 4s;

  
  
  }

  @keyframes eyesOne {
    0%{
        transform: scale(1) translate(0px,0px);

    }
    100%{
        transform: scale(3) translate(100px, 100px);

    }
  }



/* line 6 & 8 animations */
#foreverOne{
    display: inline-block;
    animation: foreverOne 4s forwards;
}

@keyframes foreverOne{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.5);
    }
}

/* line 9 & 10 animations */

#better{
    animation: better 3s forwards;
    animation-delay: 3s;
    display: inline-block;
    
}

@keyframes better{
    0%{
        opacity: 1;
        transform: scale(1);
    }

    100%{
        opacity: 1;
        transform: scale(3) translate(50px, 50px);
        }
}


/* line 11 & 12 animations */






/* line 13 animations */
#love{
    animation: love 2s forwards;
    
}

@keyframes love{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
        color: red;
    }
}

#surprised{
    animation: surprised 2s forwards ease-in;
    animation-delay: 1s;
}
@keyframes surprised {
    0% {
        opacity: 0;
        transform: translate(100px, 100px); 
    }

    100% {
        opacity: 1;
        transform: translate(300px, 300px); 
   
    }
}


footer{
        color: white;
        text-shadow: 1px 1px black;
        position: fixed;
        bottom: 1%;
        right: 1%;
        text-align: right;
        z-index: 99;
        
}



