/* ======= universal styles ======== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    background-image: linear-gradient(#888C80, #234059, #0D2340, #081826);
    font-family: "Changa One", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-size: 28px;
}


body{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

a, a:visited{
    text-decoration: none;
    color: #ffffff;
} 


/* ==================== fade in animations ======================= */
#fadeInOne{
    display: inline-block;
    animation: fadeInOne 3s forwards;
}

@keyframes fadeInOne{
    0%{
        margin-left: -1200px;
    }
    100%{
        margin-left: 0px;
    }
}

#fadeInOut{
    display: inline-block;
    animation: fadeIn 5s forwards ease-in-out;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
       
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
        
    }
}

.fadeInTwo{
    display: inline-block;
    animation: fadeInTwo 5s forwards ease-in;
    animation-delay: 3s;
    opacity: 0;
}

@keyframes fadeInTwo{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

    
}

.fadeInThree{
    display: inline-block;
    animation: fadeInThree 5s forwards ease-in;
    animation-delay: 6s;
    opacity: 0;
}

@keyframes fadeInThree{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

    
}

.fadeInFour{
    display: flex;
    animation: fadeInFour 5s forwards ease-in;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes fadeInFour{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

    
}


/* ======== index page ======== */
/* feather animations */
#feather{
    display: inline-block;
    animation: feather 4s forwards;
    animation-delay: 2s;
    color: antiquewhite;
}

@keyframes feather{
    0%{
        opacity: 1;
        transform: translate(0px, 0px);
    }

    75%{
        opacity: 1;
        transform: translate(300px, -300px);
    }
}




/* stick together animations*/

@keyframes stickFirst {
    0% {
        opacity: 0;
        transform: translateX(-200px); 
    }
    25% {
        opacity: 0;
        transform: translateX(-150px); 
    }
    50% {
        opacity: 0;
        transform: translateX(-50); 
        color: lightblue;
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
}

@keyframes togetherSecond {
    0% {
        opacity: 0;
        transform: translateX(150px); 
    }
    25% {
        opacity: 0;
        transform: translateX(50px); 
    }
    50% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
        color: lightblue;
    }
}

#stickFirst{
    display: inline-block; 
    animation: stickFirst 3s forwards ease-in-out;
}


#togetherSecond {
    display: inline-block; 
    animation: togetherSecond 3s forwards ease-in-out;
}



/* ======== line 3 animations ======== */

#dieAnimate{
    animation: dieAnimate 4s forwards ease-in;
    animation-delay: 2s;
    display: inline-block;
    opacity: 0;
}

@keyframes dieAnimate { 
    0%{
        opacity: 0;
        transform: scale(3) translate(-100px,0px); 

    }
    25%{
        opacity: 0;
        transform: scale(3) translate(-100px,0px); 

    } 
    50%{
        opacity: 0;
        transform: scale(3) translate(-100px,0px); 

    }
    75%{
        opacity: 0;
        transform: scale(3) translate(-100px,0px); 

    }

    100% { 
        opacity: 1;
        transform: scale(3) translate(-100px,0px); 
        color: #BE0000; 
        text-shadow: 0 0 60px #BE0000;
    } 
}





/* ======== line 4 & 5 animations ======== */
#alone{
    display: inline-block;
    animation: alone 2s forwards;
    animation-delay: 3s;
}

@keyframes alone{
    0%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 1;
        transform: translateX(100px);
    }
}

#glow {
    animation: glow 1s forwards infinite;
    animation-delay: 4.5s;
    display: inline-block;
}
    
      
@keyframes glow {
    0%{
        color: white;
        text-shadow: none;
    }
    100%{
        color: yellow;
        text-shadow: 0 0 50px yellow;
        }
}

#eyesOne{
    display: inline-block;
    animation: eyesOne 3s forwards;
    animation-delay: 5s;
    opacity: 0;

  
  
  }

  @keyframes eyesOne {
    0%{
        color: white;
        opacity: 0;
        transform: scale(0);

    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }


    100%{
        color: lightblue;
        opacity: 1;
        transform: scale(2) translate(30px, 8px);

    }
  }



/* ======== line 6 & 8 animations ======== */
/* https://css-tricks.com/different-approaches-for-creating-a-staggered-animation/ */
.weather{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
}

.weatherOne{
    position: relative;
    margin: 0 10px;
    opacity: 0;
    animation: weatherOne 3s forwards;
    animation-delay: 3s;
}

.weatherOne:nth-child(1) { 
    animation-duration: 1.9s;
  }

.weatherOne:nth-child(2) { 
    animation-duration: 2.5s;
  }

.weatherOne:nth-child(3) { 
    animation-duration: 3s;
  }

.weatherOne:nth-child(4) { 
    animation-duration: 3.5s;
  }
.weatherOne:nth-child(5) { 
    animation-duration: 4s;
  }
.weatherOne:nth-child(6) { 
    animation-duration: 4.5s;
  }

.weatherOne:nth-child(7) { 
    animation-duration: 5s;
  }


@keyframes weatherOne {
    0%{
        transform: translateY(-500px) ;
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
        color: #888C80;
    }
}

#foreverOne{
    display: inline-block;
    animation: foreverOne 4s forwards;
    animation-delay: 7s;
}

@keyframes foreverOne{
    0%{
        transform: scale(1);
    }
    75%{
        transform: scale(0.5);
    }
}



#dieAnimateTwo{
    animation: dieAnimateTwo 4s forwards ease-in;
    animation-delay: 7s;
    display: inline-block;
    opacity: 0;
}

@keyframes dieAnimateTwo { 
    0%{
        opacity: 0;
        transform: scale(3) translate(-50px,0px); 

    }
    25%{
        opacity: 0;
        transform: scale(3) translate(-50px,0px); 

    } 
    50%{
        opacity: 0;
        transform: scale(3) translate(-50px,0px); 

    }
    75%{
        opacity: 0;
        transform: scale(3) translate(-50px,0px); 

    }

    100% { 
        opacity: 1;
        transform: scale(3) translate(-50px,30px); 
        color: #BE0000; 
        text-shadow: 0 0 60px #BE0000;
    } 
}


/* ======== line 9 & 10 animations ======== */

#foreverTwo{
    display: inline-block;
    animation: foreverTwo 4s forwards;
    animation-delay: 2s;
}

@keyframes foreverTwo{
0%{
    color: #ffffff;
}
100%{
    color: antiquewhite;
}
}

#better{
    animation: better 3s forwards;
    animation-delay: 3s;
    display: inline-block;
    
}

@keyframes better{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(3) translate(50px, 50px);
        color: lightblue;
        }
}


/* ======== line 11 & 12 animations ======== */
/* https://fossheim.io/writing/posts/react-text-splitting-animations/ */
.life{
    
    display: inline-flex;
    position: relative;
    bottom: -1em;
    opacity: 0;
    animation: lifeOne 0.75s forwards;
    animation-delay: 2s;
    /* text-shadow: 0 0 15px white; */

  }

  .lifeOne:nth-child(1n) { color: tomato;}
  .lifeOne:nth-child(2n) { color: lightseagreen; }
  .lifeOne:nth-child(3n) { color: orange; }
  .lifeOne:nth-child(4n) { color: dodgerblue; }
  
  @keyframes lifeOne {
    0% {
      /* bottom: -0.2em; */
      opacity: 1;
      transform: scale(1), translate(25px, -20px);
    

    }
    
    50% {
      /* bottom: 0.4em; */
      transform: scale(2), translate(25px, -20px);
      
    }
  
    100% {
      /* bottom: 0; */
      opacity: 1;
      transform: scale(2)translate(25px, -20px);

    }
  }

  #eyesTwo{
    opacity: 0;
    display: inline-block;
    animation: eyesTwo 4s forwards;
    animation-delay: 4s;
    

  
  
  }

  @keyframes eyesTwo {
    0%{
        transform: scale(1) translate(0px,0px);
        opacity: 0;

    }

     50%{
        opacity: 0;
    } 
    100%{
        transform: scale(3) translate(-50px, 30px);
        color: lightblue;
        opacity: 1;

    }
  }



/* #eyesPosOne {
    position: absolute;
    display: flex;
    top: 500px;
    left: 60%;
    opacity: 0;
    color: lightblue;
    animation: eyesPosOne 5s forwards infinite ease-in;
    animation-direction: both;
    animation-delay: 12s;
}

@keyframes eyesPosOne {
    0%{
        opacity: 0;
        left: 60%;
        transform: scale(1.25);
        color: lightblue;
    }
    50%{
        opacity: 1;
        left: 65%;
        transform: scale(1.5);
        color: lightblue;
       
    }
    100%{
        opacity: 1;
        left: 60%;
        transform: scale(1.75);
        color: lightblue;
      
    }
    
}

#eyesPosTwo{
    position: absolute;
    display: flex;
    opacity: 0;
    color: lightblue;
    top: 500px;
    left: 65%;
    animation: eyesPosTwo 5s forwards infinite ease-in;
    animation-direction: both;
    animation-delay: 12s;
    
} */



/* @keyframes eyesPosTwo {
    0%{
        opacity: 0;
        left: 65%;
        transform: scale(1.25);
        color: lightblue;
    }
    50%{
        opacity: 1;
        left: 70%;
        transform: scale(1.5);
        color: lightblue;
       

    }
    100%{
        opacity: 1;
        left: 65%;
        transform: scale(1.75);
        color: lightblue;
        
    }
    
}

#eyesPosThree{
    position: absolute;
    display: flex;
    color: lightblue;
    opacity: 0;
    top: 500px;
    left: 70%;
    animation: eyesPosThree 5s forwards infinite ease-in;
    animation-direction: both;
    animation-delay: 12s;
}

@keyframes eyesPosThree {
    0%{
        opacity: 0;
        left: 70%;
        transform: scale(1.25);
        color: lightblue;
    }
    50%{
        opacity: 1;
        left: 75%;
        transform: scale(1.5);
        color: lightblue;
        
    }
    100%{
        opacity: 1;
        left: 70%;
        transform: scale(1.75);
        color: lightblue;
        

    }
    
} */

/* #eyesPosFour{
    position: absolute;
    display: flex;
    opacity: 0;
    color: lightblue;
    top: 500px;
    left: 75%;
    animation: eyesPosFour 5s forwards infinite ease-in;
    animation-direction: both;
    animation-delay: 12s;
}

@keyframes eyesPosFour {
    0%{
        opacity: 0;
        top: 500px;
        left: 75%;
        transform: scale(1.25);
        color: lightblue;
    }
    50%{
        opacity: 1;
        left: 80%;
        transform: scale(1.5);
        color: lightblue;
        

    }
    100%{
        opacity: 1;
        left: 75%;
        transform: scale(1.75);
        color: lightblue;


    }
     
}*/


/* ======== line 13 animations ======== */
#love{
    animation: love 2s forwards;
    
}

@keyframes love{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
        color: #ff2525;
        text-shadow: 0 0 25px white; 
    }
}

#surprised{
    opacity: 0;
    animation: surprised 2s forwards ease-in;
    animation-delay: 1s;
}
@keyframes surprised {
    0% {
        opacity: 0;
        transform: translate(100px, 100px); 
    }

    100% {
        opacity: 1;
        transform: translate(300px, 200px); 
   
    }
}


footer{
        color: white;
        /* text-shadow: 1px 1px black; */
        position: fixed;
        top: 1%;
        right: 1%;
        z-index: 99;
        
}



